@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  color: rgb(6, 3, 15);
  background: white;
}
.gridbg {
  background-image: url("../public/images/dotblack.svg");
  background-repeat: repeat;
  background-size: 10px;
  opacity: 0.1;
}
/* .unibg {
  background-image: url("../public/images/uA+.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
} */
.uniplus {
  background: linear-gradient(
    360deg,
    rgba(25, 66, 143, 0.67) 1.78%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
}
